body{
    background-image: url('G:\Project\Project_Final\Project-Final4_JWT\Cdac-project-jwt\Cdac-project-jwt\Project-Front-End\ProjectFinal1\public\image\t.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: cover;
    opacity: 0.9;
}